* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: url(video.mp4);
    background: transparent;
}
.section {
    width: 100%;
    height: 100vh;
    
}
.backvideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    z-index: -1;
}
.logo {
    width: 25%;
    float: left;

}
header {
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgb(206, 206, 221);
    
    
}
.prints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(97, 11, 176);
    
    
}

.emailbutton {
    height: 35px;
    width: 90PX;
    border-radius: 3px;
    margin-left: 600px;
    margin-top: 70px;
    font-weight: bold;
}
.emailbutton:hover {
    background-color: rgb(34, 187, 188);
    cursor: pointer;
    transition: 1.2s;
}
li {
    list-style: none;
}


.contact {
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(97, 11, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30%;
    margin-top: -120px;
}

.carouselImg{
    height:400px;
    padding: 10px
}

#carousel{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    /*padding-top: 10px;*/
    /*background-color: rgb(126, 81, 126); sample*/
}

.carouselname {
    position: relative;
    display: block;
    background-color: rgba(255,255,255,.6);
    margin-top: -30px;
    padding-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 328px; /* play with this to make it right*/
    text-align: center;
}

h2 {
    padding-top: 10%;
    padding-left: 2.5%;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para {
    font-weight: bold;
    background-color: rgb(206, 206, 221);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 430px;
    padding-left:50% ;  
    
}

#box2 {
    padding-right: 10px;
    padding-left: 5px;
    
}

#box1,#box2,#box3 {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: black;
    width: 550px;
    height: 900px;
    background-color: rgb(206, 206, 221);
    padding: unset;
   
}

    