* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: url(video.mp4);
    background: transparent;
}
.section {
    width: 100%;
    height: 100vh;
    
}
.backvideo {
    width: 100vw;
    height: 190vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    opacity: 70%;
    
}
.logo {
    width: 25%;
    float: left;

}
header {
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    /*background-color: rgb(206, 206, 221);*/
    
    
}
.prints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: -4%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(97, 11, 176);
    
    
}

.emailbutton {
    height: 35px;
    width: 90PX;
    border-radius: 3px;
    margin-left: 600px;
    margin-top: 70px;
    font-weight: bold;
}
.emailbutton:hover {
    background-color: rgb(34, 187, 188);
    cursor: pointer;
    transition: 1.2s;
}
li {
    list-style: none;
}


.contact {
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(97, 11, 176);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 10%;
    padding-right: 80%;
    margin-top: 160px;
}

#carabackground{
    background-color: rgb(213, 212, 213);
    opacity: 85%;

}


.carouselImg{
    height:400px;
    padding: 10px
}

#carousel{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    /*padding-top: 10px;*/
    /*background-color: rgb(126, 81, 126); sample*/
}

.carouselname {
    position: relative;
    display: block;
    background-color: rgba(255,255,255,.6);
    margin-top: -30px;
    padding-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 328px; /* play with this to make it right*/
    text-align: center;
}

h2 {

   padding-top: 10px;
   font-size: 40px;
   padding-left: 63px;
   
}
.para {
    font-weight: bold;
    /*background-color: rgb(237, 244, 255);*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxes{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;  
    padding-top: 30px;

    
    
}

/*#box2 {
    padding-right: 10px;
    padding-left: 5px;
    width: 100%;
    
}*/

#box1,#box2,#box3 {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    color: black;
    width: 377px;
    height: 220px;
    /*background-color: rgb(237, 244, 255);*/
    padding: 2px;
   
   
}
#slider {
    margin-top: 5%;
}
.content {
    text-align: center;
    padding: 10px;
   
    border-radius: 25px;
}
h3 {
    font-size: 40px;
    padding-left: 30px;
}
.content h3 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.content p {
    line-height: 1.9;
    font-size: 25px;
    font-family: sans-serif;
}
/*.owl-dot {
    display: inline-block;
    height: 20px i !important;
    width: 20px !important;
   
    opacity: .8; 
    margin: 0 10px;
    border-radius: 50%;
}


/*#testimonials {
    width: 2050px;
    height: 530px;
    font-size: 30px;
}
.testimonialCarouselTestimonial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/

    


/*h3 {
    font-size: 40px;
}*/

    
